In [120]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/Domestic violence.csv")

# Display top rows
df.head()

   SL. No  Age Education  Employment   Income Marital status  Violence
0       1   30  secondary  unemployed       0         married       yes
1       2   47   tertiary  unemployed       0         married        no
2       3   24   tertiary  unemployed       0        unmarred        no
3       4   22   tertiary  unemployed       0        unmarred        no
4       5   50    primary  unemployed       0         married       yes

In [121]:
import pandas as pd

# Load data into df_model
df_model = pd.read_csv("../data/Domestic violence.csv")

# Clean column names
df_model.columns = df_model.columns.str.strip()
# Drop SL. No if itâ€™s not needed
df_model = df_model.drop(columns=['SL. No'])

# Check load
print(df_model.shape)
print(df_model.columns)
print(df_model.head())

(347, 6)
Index(['Age', 'Education', 'Employment', 'Income', 'Marital status',
       'Violence'],
      dtype='object')
   Age  Education  Employment  Income Marital status Violence
0   30  secondary  unemployed       0        married      yes
1   47   tertiary  unemployed       0        married       no
2   24   tertiary  unemployed       0       unmarred       no
3   22   tertiary  unemployed       0       unmarred       no
4   50    primary  unemployed       0        married      yes

In [122]:
for col in df.columns:
    print(f"'{col}'")

'SL. No'
'Age'
'Education '
'Employment '
'Income'
'Marital status '
'Violence '

In [123]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SL. No           347 non-null    int64
 1   Age              347 non-null    int64
 2   Education        347 non-null    object
 3   Employment       347 non-null    object
 4   Income           347 non-null    int64
 5   Marital status   347 non-null    object
 6   Violence         347 non-null    object
dtypes: int64(3), object(4)
memory usage: 19.1+ KB

SL. No             0
Age                0
Education          0
Employment         0
Income             0
Marital status     0
Violence           0
dtype: int64

In [124]:
df.describe(include='all')

,SL. No,Age,Education,Employment,Income,Marital status,Violence
count,347.000000,347.000000,347,347,347.000000,347,347
unique,NaN,NaN,4,4,NaN,2,2
top,NaN,NaN,primary,unemployed,NaN,married,no
freq,NaN,NaN,132,274,NaN,300,261
mean,174.000000,31.380403,NaN,NaN,2110.685879,NaN,NaN
std,100.314505,9.601569,NaN,NaN,5743.278766,NaN,NaN
min,1.000000,15.000000,NaN,NaN,0.000000,NaN,NaN
25%,87.500000,23.000000,NaN,NaN,0.000000,NaN,NaN
50%,174.000000,30.000000,NaN,NaN,0.000000,NaN,NaN
75%,260.500000,39.500000,NaN,NaN,0.000000,NaN,NaN
max,347.000000,60.000000,NaN,NaN,35000.000000,NaN,NaN

In [125]:
df = pd.read_csv('../data/Domestic violence.csv')
df.columns = df.columns.str.strip()
df.columns = df.columns.str.strip()  # Clean column names
df = df.drop(columns=['SL. No'])     # Drop identifier column
assert 'Education' in df_model.columns, "Check if df_model is loaded properly"

In [126]:
print(df.columns.tolist())

['Age', 'Education', 'Employment', 'Income', 'Marital status', 'Violence']

In [127]:
df['Violence'].value_counts()
print(df.columns.tolist())

['Age', 'Education', 'Employment', 'Income', 'Marital status', 'Violence']

In [128]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
import pandas as pd
import joblib

# 1. Load your dataset
df_model = pd.read_csv("../data/Domestic violence.csv")

# 2. Clean column names
df_model.columns = df_model.columns.str.strip()

# 3. Drop unnecessary column
df_model = df_model.drop(columns=['SL. No'], errors='ignore')

# 4. Encode categorical columns
label_enc = LabelEncoder()
for col in ['Education', 'Employment', 'Marital status', 'Violence']:
    df_model[col] = label_enc.fit_transform(df_model[col].astype(str))

# 5. Split into features/target
X = df_model.drop(columns=['Violence'])  # All numeric now
y = df_model['Violence']

# 6. Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 7. Save
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(smote_rf, 'violence_rf_model.pkl')

# 8. Confirm
print(df_model.columns.tolist())
print(df_model.head())

['Age', 'Education', 'Employment', 'Income', 'Marital status', 'Violence']
   Age  Education  Employment  Income  Marital status  Violence
0   30          2           3       0               0         1
1   47          3           3       0               0         0
2   24          3           3       0               1         0
3   22          3           3       0               1         0
4   50          1           3       0               0         1

In [129]:
from sklearn.model_selection import train_test_split

# Define features and target
X = df_encoded.drop('Violence', axis=1)
y = df_encoded['Violence']

# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print(f"Train set: {X_train.shape}, Test set: {X_test.shape}")

Train set: (277, 6), Test set: (70, 6)

In [130]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train with increased iterations and class weight balancing
logreg = LogisticRegression(max_iter=1000, class_weight='balanced', random_state=42)
logreg.fit(X_train_scaled, y_train)

# Predict and evaluate
y_pred = logreg.predict(X_test_scaled)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5

Confusion Matrix:
 [[22 31]
 [ 4 13]]

Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.42      0.56        53
           1       0.30      0.76      0.43        17

    accuracy                           0.50        70
   macro avg       0.57      0.59      0.49        70
weighted avg       0.71      0.50      0.53        70

In [131]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Train the model
rf = RandomForestClassifier(class_weight='balanced', random_state=42)
rf.fit(X_train, y_train)

# Predict
y_pred_rf = rf.predict(X_test)

# Evaluate
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))
print("\nClassification Report:\n", classification_report(y_test, y_pred_rf))

Accuracy: 0.8285714285714286

Confusion Matrix:
 [[48  5]
 [ 7 10]]

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.91      0.89        53
           1       0.67      0.59      0.62        17

    accuracy                           0.83        70
   macro avg       0.77      0.75      0.76        70
weighted avg       0.82      0.83      0.82        70

In [132]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

# Expanded parameter grid
param_grid = {
    'n_estimators': [100, 200, 300, 500],
    'max_depth': [5, 10, 20, None],
    'min_samples_split': [2, 5, 10],
    'max_features': ['sqrt', 'log2'],
    'class_weight': ['balanced', 'balanced_subsample']
}

# Initialize model
rf = RandomForestClassifier(random_state=42)

# GridSearch
grid_search = GridSearchCV(
    estimator=rf,
    param_grid=param_grid,
    scoring='f1_macro',   # better for class balance
    cv=5,
    n_jobs=-1,
    verbose=1
)

# Fit the model
grid_search.fit(X_train_scaled, y_train)

# Evaluate
from sklearn.metrics import classification_report, confusion_matrix

best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test_scaled)

print("Best Params:", grid_search.best_params_)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Fitting 5 folds for each of 192 candidates, totalling 960 fits
Best Params: {'class_weight': 'balanced_subsample', 'max_depth': 20, 'max_features': 'sqrt', 'min_samples_split': 10, 'n_estimators': 100}
Classification Report:
               precision    recall  f1-score   support

           0       0.90      0.81      0.85        53
           1       0.55      0.71      0.62        17

    accuracy                           0.79        70
   macro avg       0.72      0.76      0.73        70
weighted avg       0.81      0.79      0.79        70

Confusion Matrix:
 [[43 10]
 [ 5 12]]

In [133]:
best_rf = grid_search.best_estimator_

y_pred_rf = best_rf.predict(X_test_scaled)

print("Best Params:", grid_search.best_params_)
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))
print("\nClassification Report:\n", classification_report(y_test, y_pred_rf))

Best Params: {'class_weight': 'balanced_subsample', 'max_depth': 20, 'max_features': 'sqrt', 'min_samples_split': 10, 'n_estimators': 100}
Accuracy: 0.7857142857142857

Confusion Matrix:
 [[43 10]
 [ 5 12]]

Classification Report:
               precision    recall  f1-score   support

           0       0.90      0.81      0.85        53
           1       0.55      0.71      0.62        17

    accuracy                           0.79        70
   macro avg       0.72      0.76      0.73        70
weighted avg       0.81      0.79      0.79        70

In [134]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Split (if not already done)
# X, y should be defined earlier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# SMOTE
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(X_train_scaled, y_train)

# Train
smote_rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=10,
    min_samples_split=2,
    class_weight='balanced',
    random_state=42
)
smote_rf.fit(X_train_smote, y_train_smote)

# Predict
y_pred_smote = smote_rf.predict(X_test_scaled)

# Evaluate
print("SMOTE Accuracy:", accuracy_score(y_test, y_pred_smote))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred_smote))
print("\nClassification Report:\n", classification_report(y_test, y_pred_smote))

SMOTE Accuracy: 0.7714285714285715

Confusion Matrix:
 [[44  8]
 [ 8 10]]

Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.85      0.85        52
           1       0.56      0.56      0.56        18

    accuracy                           0.77        70
   macro avg       0.70      0.70      0.70        70
weighted avg       0.77      0.77      0.77        70

In [135]:
# Check for missing values
print(df.isnull().sum())

# Confirm class balance
print(df['Violence'].value_counts(normalize=True))

Age               0
Education         0
Employment        0
Income            0
Marital status    0
Violence          0
dtype: int64
Violence
no     0.752161
yes    0.247839
Name: proportion, dtype: float64

In [136]:
print(X_train.shape[1])
print(X_train.columns if hasattr(X_train, 'columns') else X.columns)

6
Index(['SL. No', 'Age', 'Education', 'Employment', 'Income', 'Marital status'], dtype='object')

In [ ]:
features = ['Age', 'Education', 'Marital status', 'Employment']  # whatever you want in the input
X = df_model[features]
y = df_model['Violence']

# Now scale and train
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
model = RandomForestClassifier()
model.fit(X_scaled, y)

# Save
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(model, 'violence_rf_model.pkl')

['violence_rf_model.pkl']